.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 300px;
    width: 500px; */
}
.snake_happy{
    height: 100%;
    width: auto;
}
h1, p{
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
    text-align: center;

}
body{
    background-image: url(../img/field2.jpg);
}
h1{
    text-align: center;
}