.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 300px;
    width: 500px; */
}
.snake_happy{
    height: 100%;
    width: auto;
}
h1, p{
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
    text-align: center;

}
body{
    background-image: url(../img/field2.jpg);
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
button{
    font-family: 'Press Start 2P', cursive;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E15554;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #DA2F2F;
    position: absolute; 
    top: 92%; 
    left: 92%;
    transform: translate(-50%, -50%); 
    width: 20vh;
    height: 8vh;
}