* {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
}
body{
    background-image: url("../field2.jpg");
}

div {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: 3vh;
}


a {
    text-decoration: none;
    color: #fff;
}

.div-one {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3BB273;
    padding: 50px 100px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #339963;
    position: absolute; /* Add this line to position absolutely */
    top: 15%; /* Add this line to position 50% from the top */
    left: 50%; /* Add this line to position 50% from the left */
    transform: translate(-50%, -50%); /* Add this line to adjust the position */
    width: 200px;
}

.div-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D9DE0;
    padding: 50px 100px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #2F8DDA;
    position: absolute; 
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}
.contact{
    display: flex;
    flex-direction: row;
}
.div-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E15554;
    padding: 50px 100px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #DA2F2F;
    position: absolute;
    top: 45%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 200px;
}

.div-four {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1BC29;
    padding: 50px 100px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #C4A31C;
    position: absolute;
    top: 45%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 200px;
}

@keyframes rumble {
    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-20deg);
    }
}

@media only screen and (min-width: 768px) {

    header {
        justify-content: space-between;
    }

    header img {
        padding-left: 10px;
        width: 56px;
        height: 66px;
    }

    nav ul li {
        padding: 10px 15px;
        margin-right: 20px;
        font-size: 1em;
    }

    @media only screen and (min-width: 1024px) {

        header {
            justify-content: space-between;
        }

        header img {
            padding-left: 20px;
            width: 72px;
            height: 82px;
        }

        nav li {
            padding: 10px 15px;
            margin-right: 20px;
            font-size: 1.2em;
        }
    }
}