*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("field2.jpg")
}
#area{
    position: relative;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: 50px auto;
    
}
canvas{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    border: solid 5px;
    background-color: chartreuse;
}
#restart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3BB273;
    padding: 50px 100px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #339963;
    margin: 10px;
    margin-left: 50% - 100px !important;
    width: 200px;
}

.main{
    background-color: #D3D3D2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    height: 400px;
    width: 700px;
    margin: auto;
}

.button-one {
    background-color: #3BB273;
    padding: 10px 2px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #339963;
}

.button-two {
    background-color: #4D9DE0;
    padding: 10px 2px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #2F8DDA;
}

.button-three {
    background-color: #E15554;
    padding: 10px 2px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #DA2F2F;
}

.button-four {
    background-color: #E1BC29;
    padding: 10px 2px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #C4A31C;
}

@keyframes rumble {
    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-20deg);
    }
}

@media only screen and (min-width: 768px) {

    header {
        justify-content: space-between;
    }

    header img {
        padding-left: 10px;
        width: 56px;
        height: 66px;
    }

    nav ul li {
        padding: 10px 15px;
        margin-right: 20px;
        font-size: 1em;
    }

    @media only screen and (min-width: 1024px) {

        header {
            justify-content: space-between;
        }

        header img {
            padding-left: 20px;
            width: 72px;
            height: 82px;
        }

        nav li {
            padding: 10px 15px;
            margin-right: 20px;
            font-size: 1.2em;
        }
    }
}




