@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("./img/field2.jpg");
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
}
button{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: 2vh;
}
.score{
    margin-left: 0%;
    margin-top: 20%;
    font-family: 'Press Start 2P';
    font-size: 35px;
    width: 250px;
    height: 50px;
}

.restart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1BC29;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #C4A31C;
    position: absolute; 
    top: 92.5%; 
    left: 86%;
    transform: translate(-50%, -50%); 
    width: 13vh;
    height: 8vh;
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E15554;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #DA2F2F;
    position: absolute; 
    top: 92.5%; 
    left: 94.5%;
    transform: translate(-50%, -50%); 
    width: 13vh;
    height: 8vh;
}
#area{
    left: 8%;
    position: relative;
    background-size: cover;
    width: 800px;
    height: 800px;
    /* margin: 50px auto; */
}
canvas{
    margin-top: 0;
    display: block;
    /* margin: 0 auto; */
    border: solid 20px rgb(39, 133, 39);
    background-color: rgb(133, 212, 53);
}

/* #restart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3BB273;
    padding: 50px 100px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #339963;
    margin: 10px;
    margin-left: 50% - 100px !important;
    width: 200px;
} */

@keyframes rumble {
    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-20deg);
    }
}

@media only screen and (min-width: 768px) {

    header {
        justify-content: space-between;
    }

    header img {
        padding-left: 10px;
        width: 56px;
        height: 66px;
    }

    nav ul li {
        padding: 10px 15px;
        margin-right: 20px;
        font-size: 1em;
    }

    @media only screen and (min-width: 1024px) {

        header {
            justify-content: space-between;
        }

        header img {
            padding-left: 20px;
            width: 72px;
            height: 82px;
        }

        nav li {
            padding: 10px 15px;
            margin-right: 20px;
            font-size: 1.2em;
        }
    }
}




