@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
}
a{
    text-decoration: none;
    color: black;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("./img/field2.jpg");
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
}
#gOver1{
    font-size: 3.5vh;
    display: flex;
    position: absolute; 
    top: 35%; 
    left: 40%;
    width: 100vh;
    height: 10vh;
}
#gOver2{
    font-size: 3.5vh;
    display: flex;
    position: absolute; 
    top: 40%; 
    left: 45%;
    width: 100vh;
    height: 10vh;
}

button{
    display: inline-block;
    /* text-transform: uppercase; */
    font-family: 'Press Start 2P';
    font-size: 2vh;
}

.score{
    background-color: rgb(133, 212, 53);
    border: solid 20px rgb(39, 133, 39);
    margin-left: 20%;
    margin-top: 20%;
    font-family: 'Press Start 2P';
    font-size: 35px;
    width: 20vw;
    height: 10vh;
}

#restart{
    font-size: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1BC29;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #C4A31C;
    position: absolute; 
    top: 50%; 
    left: 51%;
    transform: translate(-50%, -50%); 
    width: 28vh;
    height: 10vh;
}
.back{
    font-family: 'Press Start 2P', cursive;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E15554;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #DA2F2F;
    position: absolute; 
    top: 92%; 
    left: 92%;
    transform: translate(-50%, -50%); 
    width: 20vh;
    height: 8vh;
}
#area{
    left: 8%;
    position: relative;
    background-size: cover;
    width: 800px;
    height: 800px;
    /* margin: 50px auto; */
}
canvas{
    margin-top: 0;
    display: block;
    /* margin: 0 auto; */
    border: solid 20px rgb(39, 133, 39);
    background-color: rgb(133, 212, 53);
}

/* #restart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3BB273;
    padding: 50px 100px;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #339963;
    margin: 10px;
    margin-left: 50% - 100px !important;
    width: 200px;
} */

@keyframes rumble {
    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-20deg);
    }
}

@media only screen and (min-width: 768px) {

    header {
        justify-content: space-between;
    }

    header img {
        padding-left: 10px;
        width: 56px;
        height: 66px;
    }

    nav ul li {
        padding: 10px 15px;
        margin-right: 20px;
        font-size: 1em;
    }

    @media only screen and (min-width: 1024px) {

        header {
            justify-content: space-between;
        }

        header img {
            padding-left: 20px;
            width: 72px;
            height: 82px;
        }

        nav li {
            padding: 10px 15px;
            margin-right: 20px;
            font-size: 1.2em;
        }
    }
}




