*{
    font-family: 'Press Start 2P';
}
body{
    background-image: url(../img/field2.jpg);
}
table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(58, 192, 58);
}
td{
    border: 5px solid black;
    padding: 5px
}
tr{
    border: 5px solid black;
    padding: 5px
}
a{
    text-decoration: none;
    color: black;
}
button{
    font-family: 'Press Start 2P', cursive;
    font-size: 3vh;
    background-color: #E15554;
    border-radius: 10%;
    box-shadow: -3px 3px 3px #DA2F2F;
    display: flex;
    top: 42%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 20vh;
    height: 8vh;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}
